/* Course card */
body{
    background-color: lightblue;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}
.headerContainer{
    /* border: 2px solid rgb(76, 236, 37); */
    display: flex;
    justify-content: center;

}
#head{
    width: 80vw;
    background-color: var(--primary-text-color);
    text-align: center;
    padding-block: 0.7rem;
    color: white;
    border-radius: 1rem;
    margin: 1rem 0.5rem;
}
.course-Container{
    /* border: 2px solid red; */
    padding: 0.8rem;

}
.course-inner-Container{
    width: 80vw;
    margin: auto;
    /* border: 2px solid rgb(76, 236, 37); */
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;


}
.CourseCard{
    background-color: #577592;
    width: 15vw;
    /* flex: 1; */
    text-align: center;
    /* border: 2px solid rgb(158, 158, 158); */
    margin: 0.3rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgb(252, 252, 252);
    border-radius: 1rem;
}
.CourseCard:hover{
    transform: translateY(-5px);
    background-color: #325c7c;
    h3{
        color: white;
    }
}

.CourseCard p span {
    text-decoration: line-through;
}

button{
    background-color: #C1E1C1;
    border-radius: 5px;
    padding:5px;
}
button:hover{
    box-shadow: 2px 2px 5px 0 var(--primary-text-color);
}
button:active{
    transform: scale(0.9);
}
.DiscountOff{
    color: rgb(2, 2, 159);
    font-weight: bold;
}

/* ======================================================================================
                                    media query
 ===================================================================================== */


 @media screen and (max-width:450px){
  
    .course-inner-Container{
        width: 85vw;
        /* border: 2px solid goldenrod; */
    }
    .CourseCard{
        width: 100%;
    }


 }
